body {
  background-color: rgb(29, 28, 28);
  color: #b1b1b1;
}


div.credentials {
  border-radius: 25px;
  margin: auto;
  width: 50%;
  border: 2px solid #0c0035;
  padding: 20px;
  text-align: center;
  left      : 50%;
  top       : 50%;
  position  : absolute;
  transform : translate(-50%, -50%);
  background-color: rgb(37, 34, 34);
}
input.credentials  {
  border-radius: 100px;
  width: 50%;
  background-color: rgba(41, 49, 63, 0.685);
  padding: 12px;
  margin: 16px;
}
input.credentials_submit {
  border-radius: 50px;
  background-color: indianred;
}
input.credentials:hover {
  background-color: rgba(41, 49, 63, 0.849);
}
input#credentials_submit:hover {
  background-color: rgb(185, 33, 33);
}
em#delete_msg {
  color: rgb(255, 0, 43)

}
.greeting {
  text-align: center;
  color:darkred;
}
div.post_box {
  border: 2px solid blanchedalmond;
  margin: auto;
  width: 70%;
  background-color: cornflowerblue;
  text-align: center;
  padding: 50px;
  color: rgb(138, 44, 0);
}
