<form action="/reply" method="POST">
<textarea name="reply[message]"></textarea>
<input type="hidden" value="<%=@post_id%>" name="reply[post_id]"/>
<input type="submit" value="Create Reply"/>
</form>
