<div class="reply">
<h4 style="margin-bottom: 2px;">Replying to: <%=@post.title%></h4>
<form action="/forums/<%=@cat.slug%>/<%=@post.id%>/reply" method="POST">
<textarea class="post content" name="reply[message]"></textarea><br>
<input type="submit" value="Create Reply"/>
</form>
</div>