<div id="create_reply_box">
<form action="/forums/<%=@cat.slug%>/<%=@post.id%>/reply" method="POST">
<textarea name="reply[message]"></textarea>
<input type="submit" value="Create Reply"/>
</form>
</div>