<div class="reply_box">
  <div class="reply show_reply">
    <% if logged_in? && current_user.id == @reply.user_id%>
      <div class="edit_box">
        <a class="reply edit" href="/forums/<%=@cat.slug%>/<%=@post.id%>/replies/<%=@reply.id%>/edit">Edit Reply</a>
      </div>
    <% end %>
    <p style="min-height: 120px;" class="reply reply_message"><%=@reply.message%></p>
  </div>

</div>
<br>
