<h1> Are you sure?</h1>

<h4>You would like to delete <%=@user.username%></h4>

<form action="/users/delete/<%=@user.id%>" method="POST">
<input type="hidden" value="DELETE" name="_method"/>
<input type="submit" value="Delete <%=@user.username%>"/>
</form>