<form action="/users/<%=@user.id%>" method="POST">
<input type="hidden" value="PATCH" name="_method"/>
<input type="text" name="user[username]" placeholder="Username" />
<input type="password" name="password" placeholder="Password"/>
<input type="submit" value="Update <%=@user.username%>"/>
</form>