<%@users.each do | user |%>
  <table>
    <tr>
      <th>Username:</th>
      <td><%=user.username%></td>
    </tr>
    <tr>
      <th>Posts:</th>
      <td><%=user.posts.count%></td>
    </tr>
  </table>
<%end%>