<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/users/login.css">
</head>
<% if !logged_in? %>
<div class="credentials">
<h3 id="login_msg"> Please Login </h3>

<form action="/login" method="POST">
<input class="credentials" type="text" name="username" placeholder="Username" required/><br>
<input type="password" class="credentials" name="password" placeholder="Password" required/><br>
<input class="credentials_submit" type="submit" value="Login"/>
</form>

</div>
<% end %>