<div id="login">
<h3 id="login_msg"> Please Login </h3>

<form action="/login" method="POST">
<input id="login_username" type="text" name="username" placeholder="Username"/><br>
<input type="password" id="login_password" name="password" placeholder="Password"/><br>
<input id="login_submit" type="submit" value="Login"/>
</form>

</div>