<h4> Welcome, please create a user. </h4>
<form action="/users" method="POST">
<input type="text" placeholder="Username" name="user[username]"/>
<input type="password" placeholder="Password" name="user[password]"/>
<input type="submit" value="Create User"/>