<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/users/new.css">
</head>
<div id="signup">
<h4 id="welcome_msg"> Welcome, please create a user. </h4>
<form action="/users" method="POST">
<input id="signup_username" type="text" placeholder="Username" name="user[username]"/>
<input id="signup_username" type="password" placeholder="Password" name="user[password]"/><br>
<input id="signup_submit" type="submit" value="Create User"/>
</form>
</div>