<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/users/new.css">
</head>
<div class="credentials">
<h4 id="welcome_msg"> Welcome, please create a user. </h4>
<form action="/users" method="POST">
<input class="credentials" type="text" placeholder="Username" name="user[username]" required/>
<input class="credentials" type="password" placeholder="Password" name="user[password]" required/><br>
<input class="credentials_submit" type="submit" value="Create User"/>
</form>
</div>