<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/users/show.css">
</head>
<form action="/users/<%=@user.id%>/edit" method="POST">
<input type="hidden" value="GET" name="_method"/>
<input type="submit" value="Edit <%=@user.username%>"/>
</form>
<div class="profile">
<h1 class="profile"><%=@user.username.capitalize%>'s Homepage</h1>
<p class="profile"> This is the user! </p>
<p class="profile"><em>Username:</em> <%=@user.username%></p>

</div>