<div class="post_box">
<form action="/posts/<%=@post.id%>" method="POST">
<input type="hidden" name="_method" value="PATCH"/>
<textarea class="post" id="title" name="post[title]" placeholder="Title" rows=1 cols=50 required>
</textarea><br>
<textarea class="post" placeholder="Post Content" id="content" name="post[content]" rows=10 cols=100 required>
</textarea><br>
<input type="hidden" name="post[user_id]" value="<%=@user.id%>"/>
<input type="submit" value="Update Post"/>

</form>

<form action="/posts/<%=@post.id%>" method="POST">
<input type="hidden" name="_method" value="DELETE"/>
<input type="submit" value="Delete Post"/>
</form>
</div>