<a href="/posts/new" id="post_button">New Post</a>
<% @posts.each do | post | %>
  <table>
    <tr>
      <th>Post Title:</th>
      <td><a href="/posts/<%=post.id%>"><%=post.title%><a></td>
    </tr>
    <tr>
      <th>Post Summary:</th>
      <td><%#post.trimmed%></td>
    </tr>
  <table>
<% end %>