<% @posts.each do | post | %>
  <table>
    <tr>
      <th>Post Title:</th>
      <td><a href="/posts/<%=post.id%>"><%=post.title%><a></td>
    </tr>
    <tr>
      <th>Post Summary:</th>
      <td><%#post.trimmed%></td>
    </tr>
  <table>
<% end %>