<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/posts/new.css">
</head>
<% if @show %>
<div class="post_box">
<form action="/posts" method="POST">
<textarea class="post" id="title" name="post[title]" placeholder="Title" rows=1 cols=50 required>
</textarea>
<textarea class="post" placeholder="Post Content" id="content" name="post[content]" rows=10 cols=100 required>
</textarea>
<input type="hidden" name="post[user_id]" value="<%=@user.id%>"/><br>
<input class="post" id="post_submit" type="submit" value="Create Post"/>
</form>
</div>
<% else %>
<h2> Please login. </h2>
<% end %>
