<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/posts/show.css">
</head>
<h1 id="show_post_title"><%=@post.title%></h1>
<div class="post_box">
<p id="show_post_content"><%=@post.content%></p>
</div>