<head>
<link rel="stylesheet" type="text/css" href="/stylesheets/posts/show.css">
</head>
<div id="show_post_box"/>
<h1 id="show_post_title"><%=@post.title%></h1>

<p id="show_post_content"><%=@post.content%></p>
</div>