<% @cats.each do |category| %>
  <div class="cat_box">
    <p><a href="/forums/<%=category.slug%>"><%=category.name%></a><span class="right_align">Total Posts: <%=category.posts.count%></span></p>
  </div>
<% end %>