<!DOCTYPE html>
<html>

<head>  
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
<div class="header_box">
<ul class="header">
  <!--<li class="header"><a class="header" href="/users">Users</a></li>
  <li class="header"><a class="header" href="/posts">Posts</a></li>-->

  <% if logged_in? %>
    <li class="header"><a class="header" href="/forums">Forums</a></li>
    <li class="header"><a class="header" href="/users/<%=session[:user_id]%>">Home Page</a></li>
    <li class="header"><a class="header" href="/logout">Logout</a></li>
  <% else %>
    <li class="header"><a class="header" href="/login">Login</a></li>
    <li class="header"><a class="header" href="/signup">Signup</a></li>
  <% end %>
</ul>
</div>
<h1 class="greeting">GamingDecoded's Forum</h1>
<%= yield %>
</body>

</html>